<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <meta http-equiv="refresh" content="10">-->
    <title>Mybatis-plus Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <h1>{{ demoTitle }}</h1>
    <hr>
    <!--    <div class="table_info">
            <div class="search_box">
                <label>姓名</label>&nbsp;&nbsp;<input type="text" v-model="search.keyword">
                <button @click="getEmpData(1)">搜索</button>
            </div>
            <table border="1" cellspacing="0" width="100%">
                <tr>
                    <td>编号</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>年龄</td>
                    <td>操作</td>
                </tr>
                <tr v-for="item in list"
                    v-bind:key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.sex }}</td>
                    <td>{{ item.age }}</td>
                    <td>
                        <button>编辑</button>
                        <button @click="deleteEmp(item.id)">删除</button>
                    </td>
                </tr>
            </table>
            <div class="navigationBar">
                <button @click="getEmpData(1)">首页</button>
                <button v-if="page.hasPreviousPage" @click="getEmpData(page.pageNum - 1)">上一页</button>
                <button v-for="pageItem in page.navigatepageNums" v-bind:key="pageItem" @click="getEmpData(pageItem)">
                    {{ pageItem }}
                </button>
                <button v-if="page.hasNextPage" @click="getEmpData(page.pageNum +1)">下一页</button>
                <button @click="getEmpData(page.pages)">尾页</button>
                <select id="group" v-model="page.pageSize" @change="getEmpData(page.pageNum,page.pageSize)">
                    <option v-for="item in pageSizes" v-bind:value="item">{{ item }}</option>
                </select>
            </div>
        </div>-->
    <div class="table_info">
        <el-header>
            <div style="float: left">
                <el-button type="primary" @click="showEditDialog()">新增</el-button>
            </div>
            <div >
                <el-form :inline="true" :model="search" class="demo-form-inline">
                    <el-form-item label="姓名">
                        <el-input v-model="search.keyword" placeholder="请输入姓名"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="getEmpData(1)">查询</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-header>
        <el-container>
            <el-table v-bind:data="list" style="width: 60%;text-align: center" :border="true" :stripe="true">
                <el-table-column
                        prop="id"
                        label="编号"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名">
                </el-table-column>
                <el-table-column
                        prop="sex"
                        label="性别">
                </el-table-column>
                <el-table-column
                        prop="age"
                        label="年龄">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="200px"
                >
                    <template slot-scope="scope">
                        <el-button type="primary" size="small" @click="showEditDialog(scope.row)">编辑
                        </el-button>
                        <el-button type="danger" size="small" @click="deleteEmp(scope.row.id)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-container>
        <el-footer>
            <el-pagination
                    background
                    layout="prev, pager, next"
                    :page-sizes="page.navigatepageNums"
                    :current-page="page.pageNum"
                    @current-change="handleCurrentChange"
                    :total="page.total">
            </el-pagination>
        </el-footer>
        <el-dialog :title="this.title" :visible.sync="dialogFormVisible" width="40%">
            <el-form v-model="form">
                <el-form-item label="编号"
                              v-if="title === '编辑用户'"
                              :label-width="formLabelWidth" >
                    <el-col :span="18">
                        <el-input v-model="form.id" :disabled="true" autocomplete="off"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-col :span="18">
                        <el-input v-model="form.name" autocomplete="off"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-col :span="18">
                        <!--                        <el-input v-model="form.sex" autocomplete="off"></el-input>-->
                        <el-radio v-model="form.sex" label="男">男</el-radio>
                        <el-radio v-model="form.sex" label="女">女</el-radio>
                    </el-col>
                </el-form-item>
                <el-form-item label="年龄" :label-width="formLabelWidth">
                    <el-col :span="18">
                        <el-input-number v-model="form.age" controls-position="right" :min="0"
                                         :max="150"></el-input-number>
                    </el-col>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleDialog()">确 定</el-button>
            </div>
        </el-dialog>
    </div>


</div>
<script>
    var qs = Qs;
    let app = new Vue({
        el: "#app",
        data: function () {
            return {
                demoTitle: 'Mybatis-plus Demo',
                search: {
                    keyword: undefined
                },
                form: {
                    id: 0,
                    name: '',
                    sex: '',
                    age: 0
                },
                title:'',
                dialogFormVisible: false,
                formLabelWidth: '100px',
                formItemWidth: '150px',
                page: {
                    total: 0,
                    pageNum: 1,
                    pageSize: 10,
                    prePage: 0,
                    nextPage: 2,
                    isFirstPage: true,
                    isLastPage: false,
                    hasPreviousPage: false,
                    hasNextPage: true,
                    navigatepageNums: [
                        1, 2, 3
                    ],
                    pages: 10
                },
                pageSizes: [
                    5, 10, 15, 20
                ],
                list: [
                    {
                        id: 123,
                        name: '张三',
                        sex: '男',
                        age: 19
                    }
                ]
            }
        },
        created: function () {
            this.getEmpData();
        },
        methods: {
            insertEmp(){
                let form = this.form;
                form.sex = "男" === form.sex ? 1 : 0;
                axios.post("http://localhost:8080/emp",form)
                    .then(res => {
                        if (res.data.state){
                            this.$message({
                                type: 'success',
                                message: '添加成功!'
                            });
                            this.dialogFormVisible = false;
                            this.getEmpData(this.page.total);
                        }else {
                            this.$message.error('res.data.msg');
                        }
                    }).catch(err => {
                    console.log(err);
                })
            },
            showEditDialog(row){
                if (row === undefined){
                    this.title = "新增用户"
                    this.form = this.$options.data().form;
                }else {
                    this.title = "编辑用户"
                    this.form =row;
                }
                this.dialogFormVisible = true;
            },
            handleCurrentChange(val) {
                this.page.pageNum = val;
                this.getEmpData(val);
            },
            handleDialog(){
                console.log("title = " + this.title + " : "+ (this.title === '编辑用户'));
                if (this.title === '编辑用户'){
                    this.updateEmp();
                }else {
                    this.insertEmp();
                }
            },
            updateEmp(){
                let that = this;
                let form = this.form;
                form.sex = "男" === form.sex ? 1 : 0;
                this.$confirm('确认修改用户信息吗?','提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    axios.put('http://localhost:8080/emp', form)
                        .then(function (response) {
                            let flag = response.data.state;
                            if (flag){
                                that.$message({
                                    type: 'success',
                                    message: '修改成功!'
                                });
                                //更新成功关闭弹出框
                                that.dialogFormVisible = false;
                                that.getEmpData();
                            }else {
                                that.$message.error('修改失败');
                            }
                        }).catch(function (error) {
                        console.log(error);
                    })
                }).catch(()=>{
                    that.$message({
                        type: 'info',
                        message: '已取消修改'
                    });
                })

            },
            getEmpData: function (pageNum, pageSize) {
                console.log("pageNum = " + pageNum);
                console.log("pageSize = " + pageSize);
                this.page.pageNum = pageNum == null ? this.page.pageNum : pageNum;
                this.page.pageSize = pageSize == null ? this.page.pageSize : pageSize;
                let that = this;
                console.log("that.pageNum = " + that.page.pageNum);
                console.log("that.pageSize = " + that.page.pageSize);
                console.log("that.keyword = " + that.search.keyword);
                axios.get('http://localhost:8080/emp', {
                    params: {
                        pageNum: that.page.pageNum,
                        pageSize: that.page.pageSize,
                        keyword: that.search.keyword
                    }
                }).then(function (response) {
                    // that.list = response.data.data.list;
                    that.list = response.data.data.list;
                    that.page = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            deleteEmp(idList) {
                let that = this;
                this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('http://localhost:8080/emp', {
                        params: {
                            idList: idList
                        }
                    }).then(function (response) {
                        let isSuccess = response.data.state;
                        if (isSuccess) {
                            that.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                            that.getEmpData();
                        } else {
                            that.$message.error('删除失败');
                        }
                    }).catch(function (error) {
                        console.log(error);
                    })
                }).catch(() => {
                    that.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            }
        }
    });
</script>
</body>
</html>
<style>
    #app h1 {
        text-align: center;
    }

    .table_info {
        text-align: center;
        width: 80%;
        margin: 5px auto 35px;
    }
    .navigationBar button {
        font-size: 18px;
    }

</style>